body {
    margin: 0;
}

.upper_navbar {
    width: 100%;
    height: 10%;
    display: block;
}

.upper_navbar button {
    float: right;
    margin: 1rem;

    width: 5rem;
    height: 3rem;

    background-size: cover;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 350%;
    margin: .5rem;

    display: inline-block;
}

.language_button_pl {
    background-image: url('../image/flags/Flag_Poland.svg');
}

.language_button_en {
    background-image: url('../image/flags/Flag_GreatBritain.svg');
}

.language_button_de {
    background-image: url('../image/flags/Flag_Germany.svg');
}

.language_button_la {
    background-image: url('../image/flags/Flag_Rome.svg');
}

.sidenav {
    position: fixed;
    
    z-index: 1;
    height: 100%;
    width: 0%;

    transition: width 0.5s;

    padding-top: 1%;
}

.sidenav_buttons button {
    position: absolute;

    top: 0%;
    left: 100%;

    width: 2rem;
    height: 2rem;
    
    cursor: pointer;

    border: none;
    background-color: transparent;
    background-size: cover;
}


.sidenav_button_left {
    display: none;
}

.sidenav_button_right {
    display: block;
}

.sidenav_navigation {
    overflow-x: hidden;
}

.sidenav_navigation h {
    font-size: 2rem;
    display: block;

    padding: 0 0 1rem 1rem;

    font-weight: bold;

    transition: width 0.3s;
    white-space: nowrap;
}

.sidenav_navigation a {
    font-size: 2rem;
    display: block;

    padding: 0.5rem 0 0.5rem 1rem;

    font-weight: normal;
    text-decoration: none;

    transition: width 0.3s;
    white-space: nowrap;
}

.sidenav_navigation a:hover {
    font-weight: bold;
}

.sidenav_themes {
    padding-top: 200%;
    overflow-x: hidden;
}

.sidenav_themes h {
    font-size: 1.75rem;
    display: block;

    padding: 0 0 0 1rem;

    font-weight: bold;

    transition: width 0.3s;
    white-space: nowrap;
}

.sidenav_themes button {
    font-size: 1.5rem;
    display: block;

    padding: 0.5rem 0 0 1.5rem;

    border: none;
    background: none;

    transition: width 0.3s;
    white-space: nowrap;
}

.sidenav_themes button:hover {
    text-decoration: wavy;
}

.wheel_canvas {
    display: inline-block;
    padding: 1.5% 0 0 0;
}

.menu {
    display: inline-block;
    position: absolute;
    top: 30%;
    width: 30%;
    height: 40%;
    padding-left: 10%;
}

.menu p {
    display: block;
    text-align: center;
}

.result_text {
    margin: 0 auto;
    font-size: 3rem;
}

.result_display {
    font-size: 4rem;
    height: 1.5em;
    margin: 1rem auto 0 auto;
}

.menu_buttons_parent button {
    cursor: pointer;
}

.generate_button {
    display: block;
    width: 15rem;
    height: 5rem;

    font-size: 3rem;

    margin: 2% auto;
}

.remove_button {
    display: none;
    width: 15rem;
    height: 5rem;
    
    font-size: 2rem;
    margin: 2% auto;
}

.modify_buttons_parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modify_buttons_parent button {
    display: block;
    width: 10rem;
    height: 4rem;
    
    font-size: 1.5rem;
    margin: 0.5rem;
}

.range_form {
    display: none;
    position: fixed; 
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.range_form_content {
    display: block;
    position: fixed; 
    width: 40%;
    height: 25rem;
    left: 30%;
    top: 30%;
}

.range_form_content label {
    font-size: 1.5rem;
    display: block;
    margin: 1.5rem auto 0.5rem 2.5rem;
}

.range_form_content input {
    font-size: 1.5rem;
    display: block;
    margin: 1% auto;
    width: 90%;
}

.range_form_button_parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range_form_button_parent button {
    display: block;
    font-size: 1.5rem;
    margin: 2.5rem 1.5rem;
    width: 40%;
}