.result_display {
    font-size: 2.5rem;
    height: 1.5em;
    white-space: nowrap;
    margin: 1rem auto 0 auto;
}

.remove_button {
    display: none;
    width: 15rem;
    height: 5rem;
    
    font-size: 2rem;
    margin: 2% auto;
}

.modify_buttons_parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modify_buttons_parent button {
    display: block;
    width: 12rem;
    height: 4rem;
    
    font-size: 1.5rem;
    margin: 0.5rem;
}

.modification_form {
    display: none;
    position: fixed; 
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modification_form_content {
    display: block;
    position: fixed; 
    width: 40%;
    height: 90%;
    left: 30%;
    top: 5%;
}

.modification_form h1 {
    font-size: 5vmin;
    margin: 0.5vmin;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
}

.modification_form_text_parent {
    display: flex;
    height: 85%;
    width: 90%;

    margin: 0 auto;
    border: .25vmin solid black;

    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.modification_text_box {
    display: flex;
    height: 7%;
    width: 98%;
    border: .25vmin solid black;

    margin-top: 0.5vmin;

    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modification_text_box p {
    display: inline-block;
    width: 70%;
    margin: 0 0 0 1vmin;

    font-size: 3vmin;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

.modification_text_box button {
    height: 95%;
    width: 25%;
    margin: 0;
    font-size: 2vmin;
}

.modification_text_box input {
    width: 70%;
    margin: 0;

    font-size: 3vmin;
    font-family: Arial, Helvetica, sans-serif;
}

.modification_form_button_parent {
    display: flex;

    margin: 0 auto;

    justify-content: center;
    align-items: center;
}

.modification_form_button_parent button {
    display: block;
    font-size: 3vmin;
    margin: 1vmin 3vmin;
    width: 40%;
}