body {
    background-color: #88c083;
}

.upper_navbar {
    background-color: darkgreen;
}

.title {
    color: white;
    font-family: Arial, Verdana;
}

.sidenav {
    background-color: green;
}

.sidenav_button_left {
    background-image: url('../image/buttons/ArrowLeft_froggy.svg');
}

.sidenav_button_right {
    background-image: url('../image/buttons/ArrowRight_froggy.svg');
}

.sidenav_navigation h {
    color: white;
}

.sidenav_navigation a {
    color: white;
}

.sidenav_themes h {
    color: white;
}

.sidenav_themes button {
    color: white;
}

.result_text {
    font-family: Arial, Helvetica, sans-serif;
    color: #00420e;
}

.result_display {
    font-family: Arial, Helvetica, sans-serif;
    color: #00420e;
}

.menu_buttons_parent button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #008800;
    border: none;
}

.menu_buttons_parent button:hover {
    background-color: #006800;
}

.range_form {
    background-color: #00000088;
}

.range_form_content {
    background-color: white;
    border: 5px solid black;
}

.wheel_color_1 {
    color: #00420e;
}

.wheel_color_2 {
    color: #00aa00
}

.wheel_color_3 {
    color: #008800;
}