body {
    background-color: #797db9;
}

.upper_navbar {
    background-color: rgb(2, 0, 148);
}

.title {
    color: white;
    font-family: Arial, Verdana;
}

.sidenav {
    background-color: rgb(0, 90, 173);
}

.sidenav_button_left {
    background-image: url('../image/buttons/ArrowLeft_space.svg');
}

.sidenav_button_right {
    background-image: url('../image/buttons/ArrowRight_space.svg');
}

.sidenav_navigation h {
    color: white;
}

.sidenav_navigation a {
    color: white;
}

.sidenav_themes h {
    color: white;
}

.sidenav_themes button {
    color: white;
}


.range_form {
    background-color: #00000088;
}

.range_form_content {
    background-color: white;
    border: 5px solid black;
}

.wheel_color_1 {
    color: #060d49;
}

.wheel_color_2 {
    color: #2148C8
}

.wheel_color_3 {
    color: #0c2b8f;
}